{% extends 'web/base.html' %}
{% load static %}
{% block title %}Contact{% endblock %}
{% block content %}


    <!-- Page Header Start -->
	<div class="page-header parallaxie">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-12">
					<!-- Page Header Box Start -->
					<div class="page-header-box">
						<h1 class="wow fadeInUp" data-cursor="-opaque">Contact us</h1>
						<nav class="wow fadeInUp" data-wow-delay="0.2s">
                            <ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="/">home</a></li>
								<li class="breadcrumb-item active" aria-current="page">contact us</li>
							</ol>
						</nav>
					</div>
					<!-- Page Header Box End -->
				</div>
			</div>
		</div>
	</div>
	<!-- Page Header End -->

    <!-- Page Contact Us Start -->
    <div class="page-contact-us">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4">
                    <!-- Content Us Content Start -->
                    <div class="contact-us-content">
                        <!-- Section Title Start -->
                       <div class="section-title">
                            <h3 class="wow fadeInUp">Contact Us</h3>

                            <h2 class="wow fadeInUp" data-wow-delay="0.2s" data-cursor="-opaque">
                                <span>Let’s Talk</span> About Pure Water
                            </h2>

                            <p class="wow fadeInUp" data-wow-delay="0.4s">
                                Looking for reliable water purification and filtration products?
                                Get in touch with <strong>The Filter Company</strong> to explore
                                quality solutions designed to deliver clean, safe, and great-tasting water.
                            </p>
                        </div>
                        
                        
                        <!-- Section Title End -->

                        <!-- Contact Social List Start -->
                        <div class="contact-social-list wow fadeInUp" data-wow-delay="0.6s">
                            <ul>
                                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-pinterest-p"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                            </ul>
                        </div>
                        <!-- Contact Social List End -->

                    </div>
                    <!-- Content Us Content End -->
                </div>

                <div class="col-lg-8">
                    <!-- Contact Info List Start -->
                    <div class="contact-info-list">
                        <!-- Contact Info Item Start -->
                        <div class="contact-info-item wow fadeInUp">
                            <!-- Icon Box Start -->
                            <div class="icon-box">
                                <img src="{% static 'web/images/icon-phone.svg' %}" alt="">
                            </div>
                            <!-- Icon Box End -->

                            <!-- Contact Item Content Start -->
                            <div class="contact-item-content">
                                <p>phone number</p>
                                <h3><a href="tel:+919895875100">+91 9895875100</a></h3>
                                <br> 
                                <h3><a href="tel:+919037847100">+91 9037847100</a></h3>

                            </div>
                            <!-- Contact Item Content End -->
                        </div>
                        <!-- Contact Info Item End -->

                        <!-- Contact Info Item Start -->
                        <div class="contact-info-item wow fadeInUp" data-wow-delay="0.2s">
                            <!-- Icon Box Start -->
                            <div class="icon-box">
                                <img src="{% static 'web/images/icon-mail.svg' %}" alt="">
                            </div>
                            <!-- Icon Box End -->

                            <!-- Contact Item Content Start -->
                            <div class="contact-item-content">
                                <p>email address</p>
                                <h3><a href="mailto:thefiltercompany253@gmail.com">thefiltercompany253@gmail.com</a></h3>
                            </div>
                            <!-- Contact Item Content End -->
                        </div>
                        <!-- Contact Info Item End -->

                        <!-- Contact Info Item Start -->
                        <div class="contact-info-item location-item wow fadeInUp" data-wow-delay="0.4s">
                            <!-- Icon Box Start -->
                            <div class="icon-box">
                                <img src="{% static 'web/images/icon-location.svg' %}" alt="">
                            </div>
                            <!-- Icon Box End -->

                            <!-- Contact Item Content Start -->
                            <div class="contact-item-content">
                                <p>location</p>
                                <h3>45/2616, Al Mubarak Tower, Old NH Feroke Road, Cheruvannur, Kozhikode, Kerala - 673631</h3>
                            </div>
                            <!-- Contact Item Content End -->
                        </div>
                        <!-- Contact Info Item End -->
                    </div>
                    <!-- Contact Info List End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Page Contact Us End -->

    <!-- Contact Us Form Section Start -->
    <div class="contact-form-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Contact Us Box Start -->
                    <div class="contact-us-box">
                        <!-- Google Map IFrame Start -->
                        <div class="google-map-iframe">
                        <iframe
                            src="https://www.google.com/maps?q=45%2F2616%2C%20Al%20Mubarak%20Tower%2C%20Old%20NH%20Feroke%20Road%2C%20Cheruvannur%2C%20Kozhikode%2C%20Kerala%20673631&output=embed"
                            width="600"
                            height="450"
                            style="border:0;"
                            allowfullscreen=""
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade">
                        </iframe>
                        <!-- Google Map IFrame End -->
                    </div>
                        <!-- Contact Us Form Start -->
                        <div class="contact-us-form">
                            <!-- Section Title Start -->
                            <div class="section-title">
                                <h2 class="wow fadeInUp" data-wow-delay="0.2s" data-cursor="-opaque">Send us a message</h2>
                               <p class="wow fadeInUp" data-wow-delay="0.4s">
                                Looking for reliable water purification products? Get in touch with
                                <strong>The Filter Company</strong> today and explore quality filtration
                                solutions designed for clean, safe, and great-tasting water.
                            </p>
                                                            
                            </div>
                            
                            <!-- Section Title End -->

                            <form action="{% url 'web:contact' %}" method="POST" class="contact-form wow fadeInUp" data-wow-delay="0.6s">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="form-group col-md-6 mb-4">
                                       {{form.name}}
                                    </div>

                                    <div class="form-group col-md-6 mb-4">
                                      {{form.phone}}
                                    </div>
                                    <div class="form-group col-md-6 mb-4">
                                       {{form.email}}
                                    </div>

                                    <div class="form-group col-md-6 mb-4">
                                       {{form.subject}}
                                    </div>

                                    <div class="form-group col-md-12 mb-5">
                                       {{form.message}}
                                    </div>

                                    {% if form.non_field_errors %}
                                    <div class="col-md-12 mb-3">
                                        {{ form.non_field_errors }}
                                    </div>
                                    {% endif %}

                                    <div class="col-md-12 mb-4">
                                        <div class="cf-turnstile" data-sitekey="{{ cf_turnstile_site_key }}"></div>
                                    </div>

                                    <div class="col-md-12">
                                        <button type="submit" class="btn-default"><span>send on whatsapp</span></button>
                                        <div id="msgSubmit" class="h3 hidden"></div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- Contact Us Form End -->
                    </div>
                    <!-- Contact Us Box End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Contact Us Form Section End -->


{% endblock %}
