{% load static %}
  <!-- Header Start -->
  <header class="main-header">
    <div class="header-sticky">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <!-- Logo Start -->
                <a class="navbar-brand" href="/">
                    <img src="{% static 'web/images/logo.png' %}" alt="Logo">
                </a>
                <!-- Logo End -->

                <!-- Main Menu Start -->
                <div class="collapse navbar-collapse main-menu">
                    <div class="nav-menu-wrapper">
                        <ul class="navbar-nav mr-auto" id="menu">
                            <li class="nav-item "><a class="nav-link" href="/">Home</a>
                                
                            </li>                                
                            <li class="nav-item"><a class="nav-link" href="{% url 'web:about' %}">About Us</a></li>
                            {% comment %} <li class="nav-item"><a class="nav-link" href="{% url 'web:products' %}">Products</a></li> {% endcomment %}
                             <li class="nav-item submenu"><a class="nav-link" href="{% url 'web:products' %}">Products</a>
                                    <ul>
                                        {% for service in product_categories %}
                                        <li class="nav-item"><a class="nav-link" href="{{service.get_absolute_url}}">{{service.name}}</a></li>
                                       {% endfor %}
                                    </ul>
                                </li> 
                            <li class="nav-item"><a class="nav-link" href="{% url 'web:blog' %}">Blog</a></li>
                            
                            <li class="nav-item"><a class="nav-link" href="{% url 'web:contact' %}">Contact Us</a></li>                         
                        </ul>
                    </div>
                    
                    <!-- Header Btn Start -->
                    <div class="header-btn">
                        <a href="{% url 'web:contact' %}" class="btn-default">get a quote</a>
                    </div>
                    <!-- Header Btn End -->
                </div>
                <!-- Main Menu End -->
                <div class="navbar-toggle"></div>
            </div>
        </nav>
        <div class="responsive-menu"></div>
    </div>
</header>
<!-- Header End -->
